vytrvalec.local {
	root * public/

	@symfony {
		path /api/* /_wdt/* /_profiler/*
	}

	handle @symfony {
		php_server
	}

	@ws path /ws /ws/*

	handle @ws {
		reverse_proxy 127.0.0.1:1337 {
			header_up Host {http.reverse_proxy.upstream.hostport}
			# Optional: pass the original X-Forwarded headers
			header_up X-Forwarded-For {remote_host}
			header_up X-Forwarded-Proto {scheme}
		}
	}

	@static {
		file
	}

	handle @static {
		file_server
	}

	handle {
		reverse_proxy localhost:3000
	}
}
