parameters:
    level: 9
    paths:
        - bin/
        - config/
        - public/
        - src/
    scanDirectories:
        - var/cache/dev/Symfony/Config
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

    scanFiles:
        - vendor/symfony/dependency-injection/Loader/Configurator/ContainerConfigurator.php

    doctrine:
        objectManagerLoader: tests/object-manager.php
        reportDynamicQueryBuilders: true