@charset "utf-8";

@use "sass:math";
@use "../abstracts/functions";
@use "../abstracts/variables";

@font-face {
  font-family: centuryGothic;
  src: url('../../fonts/CenturyGothic.ttf');
}

body {
  font-family: 'centuryGothic', serif;
}

p {
  text-align: justify;
}

@for $i from 1 through length(variables.$h-font-sizes) {
  h#{$i} {
    font-size: nth(variables.$h-font-sizes, $i);
    color: nth(variables.$h-font-colors, $i);
  }
}
