@charset "utf-8";

.carousel {
  padding-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.carousel-item {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 100%;
}

.carousel-inside-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-top: 20px;

  @media (min-width: 70em) {
    flex-direction: row;
  }
}

.carousel-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  max-width: 50%;
  min-width: 15%;

  &:first-child {
    flex-direction: column;
    align-items: flex-start;
  }

  div {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 5px;
  }
}
