@charset "utf-8";

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // background-color: #404040ff;
  background-color: #18252cff;
  color: white;

  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;

  span {
    color: #4d4d4d;
  }

  div {
    margin-top: 10px;
  }
}

footer p {
  text-align: center;
}

footer a {
  color: white;

  &:hover {
    color: #78c1ff;
  }
}