@use "sass:math";

$base-color: #f1f8ff;

@font-face {
  font-family: centuryGothic;
  src: url('../fonts/CenturyGothic.ttf');
}

* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'centuryGothic', serif;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  background-color: $base-color;
}

a, a:hover, a:visited {
  text-decoration: none;
}

p {
  text-align: justify;
}

u {
  color: #78c1ff;
  font-weight: bold;
}


h3 {
  color: #1650a3ff;
}
