.container-new {
    border-top: 5px solid #00aaffff;
    background-color: white;
    margin: 3%;
    padding: 2%;
}

.kts-header {
    border-left: 1px solid #999999ff;
    padding-left: 2%;
}

.about-container {
    display: grid;
    justify-content: stretch;
    height: 100%;
    padding: 5%;
}

.zcu-logo {
    justify-items: center;
    display: grid;
}